* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #ffe5ec;
}

/* HALAMAN */
.page {
  width: 900px;
  min-height: 1000px;
  background: #ffffff;
  margin: 30px auto;
  display: flex;
  border: 8px solid #ff8fab;
}

/* KIRI */
.left {
  width: 35%;
  background: #fff6fa;
  padding: 30px 25px;
}

/* FOTO */
.photo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.photo-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #d6336c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
}

/* BOX */
.box {
  background: #ffffff;
  padding: 18px 16px;
  margin-bottom: 20px;
  border-left: 6px solid #ffb3c6;
}

.box h2 {
  font-size: 15px;
  letter-spacing: 2px;
  color: #d6336c;
  margin-bottom: 10px;
}

.box p {
  font-size: 13px;
  margin-bottom: 4px;
}

/* TIMELINE */
.timeline {
  display: flex;
  margin-bottom: 14px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d6336c;
  margin-top: 4px;
  margin-right: 10px;
}

.timeline-content .year {
  font-size: 12px;
  color: #555;
}

.bold {
  font-weight: 600;
}

/* SKILLS PILL STYLE FULL WIDTH */
.skills-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skills-tag span {
  padding: 6px 15px;
  background: #ffe2ec;
  color: #d6336c;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #ffb3c6;
}

.skills-tag span:hover {
  background: #ffd6e3;
}

/* KANAN */
.right {
  width: 65%;
  padding: 30px 35px;
}

.header h1 {
  font-size: 28px;
  color: #d6336c;
}

.sub {
  letter-spacing: 1px;
  font-size: 12px;
  color: #7f8c8d;
  margin-top: 4px;
}

.summary {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 1.6;
  color: #555;
}

/* SECTION */
.section {
  margin-bottom: 25px;
}

.section h2 {
  display: inline-block;
  background: #d6336c;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.exp-item {
  margin-top: 12px;
  margin-bottom: 10px;
}

.exp-item .year {
  font-size: 12px;
  color: #888;
}

.exp-item ul {
  margin-left: 18px;
  font-size: 13px;
}

/* HOBI */
.section ul li {
  margin-left: 18px;
  font-size: 13px;
  margin-bottom: 4px;
}

/* PRINT BUTTON */
.print-btn {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #d6336c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

/* PRINT MODE */
@media print {
  body { background: #ffffff; }
  .page { margin: 0; border: none; width: 100%; }
  .print-btn { display: none; }
}